 <div class="all specific new">
    <section class="portfolio">
        <div class="container">
<input id="{{ category }}" class="category" type="hidden" value="{{ portfolio_detail.category }}">
            <div class="portfolio-wrapper">
                {% for portfolio in present_portfolios %}
                <div data-id="{{ portfolio.id }}" class="portfolio-item item1">
                    <img src="https://pravega-contactimages-ap-south-1.s3.amazonaws.com/media/{{ portfolio.company_logo }}" alt="">
                    {% if portfolio.company_subhead %}
                    <div class="portfolio-caption">
                        <p>{{ portfolio.company_subhead }}</p>
                    </div>
                    {% endif %}
                </div>
                 {% endfor %}

            </div>

        </div>
    </section>
    <div class="past-investments">
        <div class="container">
            {% if past_portfolios %}
                <h1>Our Past Investments</h1>
            {% endif %}
            <div class="past-investment-wrapper">
                {% for portfolio in past_portfolios %}
                <a href="{{ portfolio.company_website_link }}" target="_blank" class="past-investment-item">
                    <img src="https://pravega-contactimages-ap-south-1.s3.amazonaws.com/media/{{ portfolio.company_logo }}" alt="">
                </a>
                 {% endfor %}

            </div>
        </div>
    </div>
        </div>
 <script>
  $('.allbtn').click(function(){
          $('.specific').remove();
          $('body').css('overflow', 'auto');
   });

function closeModal()
{
    $('.modal').remove();
<!--    document.querySelector('body').style.overflow="hidden";-->
}
 $(document).ready(function(){
  $('body').css('overflow', 'auto');
$('.item1').click(function(){

             $.ajax({
                    method: "GET",
                    url: "/portfolios/portfolio_detail/",
<!--                data: { 'pid':  $(".portfolio-content").attr("id") },-->
                    data: { 'pid':  $(this).attr("data-id"), 'category':  $(".category").attr("id") },
                    success: function(data) {
                    //debugger
                    $('body').append(data);
                }
            })
        });
        });
 </script>